-if @bookmark.bookmark_items.any? 
  = link_to "Закладки (#{@bookmark.bookmark_items.count})".html_safe, @bookmark, class: "bookmark_count", remote: true  
  = link_to "", bookmark_path(@bookmark),id: "clear_bookmark", method: :delete, remote: true
-else
  = link_to "Закладки", "#", class: "bookmark_count"