// $(".cart_count").html('Корзина пуста')
// $('.cart_count').click(function () {return false;});
// $(".currency .clear_cart").remove()
$(".bookmark_count").remove();
$("#clear_bookmark").remove();
$(".bm").append("<%= j render 'bookmarks/bookmark_link' %>")
$("#message").text("Все товары удалены из закладок")
if ($(".product_show").length > 0)
    $(".product_show .p_icons .bmarks").remove()
$("#message").slideDown()
setTimeout(function(){
    $("#message").slideUp()
  }, 3500);