$("#bookmark").show()
$("body").append("<div class='bg'></div>")
$("#bookmark").html("<%= j render('bookmarks/show') %>");
$(".bg, .close_button").click(function(){
  $('.bg').remove()
  $("#bookmark").hide();
  $("#bookmark").empty();
});
$(document).keyup(function(e) {

  if (e.keyCode == 27) { 
    $('.bg').remove()
    $("#bookmark").hide();
    $("#bookmark").empty();
  }   // esc
});