//= require_self
//= require ckeditor/ckeditor

(function() {
  if (typeof window['CKEDITOR_BASEPATH'] === "undefined" || window['CKEDITOR_BASEPATH'] === null) {
    window['CKEDITOR_BASEPATH'] = "<%= asset_path('ckeditor') %>/";
  }
}).call(this);