.news_item
  .photo_block = image_tag offer_item.image.url :thumb
  .content_block
    .date = offer_item.created_at.strftime("%d.%m.%Y")
    = link_to offer_item
      h2 = offer_item.title
    .text = offer_item.snippet
