$(".news_items_block").append("<%= escape_javascript(render(@offer_item)) %>")
<% if @offer_item.next_page %>
  $('.pagination').replaceWith('<%= j paginate(@offer_item) %>');
<% else %>
  $('.pagination').remove();
  $('#more').remove();
<% end %>
