.client_info
  p
    == "Имя клиента: <strong>#{@order.name}</strong>"
  p
    == "Телефон клиента: <strong>#{@order.phone}</strong>"
  p
    == "Электронный адрес: <strong>#{@order.email}</strong>"
  p
    == "Адрес доставки: <strong>#{@order.address}</strong>"
  p
    == "Регион доставки: <strong>#{@order.delivery_region}</strong>"
