.table_orders
  table
    / caption = I18n.l(@order.order_date, format: :dashboard)
    tr
      th id
      th Наименование продукта
      th Размерность
      th Количество
      th цена за ед.
      th скидка
      th Стоимость
    - @order.order_items.each do |order_item|
      tr
        td = "#{order_item.product_id}"
        td = order_item.product ? (link_to "#{order_item.product_name}", admin_product_path(order_item.product_id) ): "#{order_item.product_name}"
        td = order_item.product_internal_name
        td = order_item.quantity
        td = number_to_currency order_item.product_cost.to_f, format: '%n %u', unit: "сом"
        td = "#{order_item.product_discount} %"
        td = number_to_currency order_item.total_discounted_price, format: '%n %u', unit: "сом"
    tr
      th
      th
      th
      th
      th
      th
      th
    tr
      td
      td
      td
      td
      td
      td == "<b>Всего:</b>"
      td == "#{number_to_currency @order.total_discounted_price_som, format: '%n %u', unit: "сом"} (#{number_to_currency @order.total_discounted_price_usd, format: '%n%u', unit: "$"})"
    tr
      td
      td
      td
      td
      td
      td == "<b>Доставка:</b>"
      td == "#{number_to_currency @order.delivery_price_som, format: '%n %u', unit: "сом"} (#{number_to_currency @order.delivery_price_usd, format: '%n%u', unit: "$"})"
    tr
      th
      th
      th
      th
      th
      th
      th
    tr
      td
      td
      td
      td
      td
      td == "<b>ИТОГО:</b>"
      td == "#{number_to_currency (@order.total_cost_som), format: '%n %u', unit: "сом"} (#{number_to_currency (@order.total_cost_usd), format: '%n%u', unit: "$"})"
