-if Banner.where("active = TRUE AND site = 'banner'").count > 0
  - path = Banner.where("active = TRUE AND site = 'banner'").last.file.url
  -if MIME::Types.type_for(path).first.content_type == "application/x-shockwave-flash"
          <object width="840" height="109">
          <param name="movie" value="#{path}">
          <embed src="#{path}" width="840" height="109">
          </embed>
          </object>
  - else
    -unless Banner.where("active = TRUE AND site = 'banner'").last.link.blank?
      = link_to (image_tag (Banner.where("active = TRUE AND site = 'banner'").last.file.banner.url)), Banner.where("active = TRUE AND site = 'banner'").last.link, class: "banner"
    -else
      = image_tag (Banner.where("active = TRUE AND site = 'banner'").last.file.banner.url), class: "banner"