.breadcrumbs
  -if params[:controller] == "orders" && params[:action] == "edit"
    .title
      h1 Оформление заказа
  -else
    ul
      li = link_to "Главная", root_path
      -if params[:controller] == "products" && params[:action] == "show"
        -if @product.part.id == 1
          li = link_to "Каталог шин", products_path( search_type: {part_id: 1})
        -elsif @product.part.id == 2
          li = link_to "Каталог масел", products_path( search_type: {part_id: 2})
        -elsif @product.part.id == 3
          li = link_to "Каталог аккумуляторов", products_path( search_type: {part_id: 3})
        -elsif @product.part.id == 4
          li = link_to "Каталог дисков", products_path( search_type: {part_id: 4})
        li = link_to "#{@product.category.name}", products_path( search_type: {category_id: @product.category.id})
        li = link_to "#{@product.vendor.name}", products_path( search_type: {vendor_id: @product.vendor.id})
        li = "#{@product.name}"
      -elsif params[:controller] == "pages"
        li = "#{@page_name}"
      -elsif params[:controller] == "news_items" && params[:action] == "index"
        li = "#{@page_name}"
      -elsif params[:controller] == "news_items" && params[:action] == "show"
        li = link_to "#{@page_name}", news_items_path
        li.short = "#{@news_item.title}"
      -elsif params[:controller] == "offer_items" && params[:action] == "index"
        li = "#{@page_name}"
      -elsif params[:controller] == "offer_items" && params[:action] == "show"
        li = link_to "#{@page_name}", offer_items_path
        li.short = "#{@offer_item.title}"
