.featured
  .product_slider
    .title
      h1 Популярные шины 
    .slider_box
      - @featured.in_groups_of(5).each do |group|
        .slide
          - group.each do |product|
            -if product.nil?
              -product = Product.price_exists.where(part_id: 1).sample
            / -binding.pry
            .product_slide
              .p_icons
                - if product.featured > 50
                  .pop
                - if product.discount > 0
                  .dis
                - if @bookmark.products.include? product
                  .bmarks
              = link_to image_tag(product.image.url :thumb), product, class: "show_prev"
              = link_to "Просмотр", product, class: "preview", remote: true
              .title_product
                h2 = link_to product.vendor.name, product
                h2 
                  span.grad
                  = link_to product.name, product, title: "#{product.name}", class: "hover"
              p = "Размер: #{product.internal_name}"
              - if product.discount > 0
                p.pink = "Акция: <strong>#{discount product}</strong>".html_safe
              -else
                p = "Цена: <strong>#{currency_checked product}</strong>".html_safe

      a href="#" class="slidesjs-previous slidesjs-navigation"
      a href="#" class="slidesjs-next slidesjs-navigation"
