.filter
  .title
    h1 Поиск
  .search
    = form_tag(products_path, :method => "get") do |f|
      .search_type

        = radio_button_tag "search_type[part_id]" , "1", tires_checked?
        = label_tag :search_type_part_id_1, "", class: "f_tr #{'check' if tires_checked?}"
        = radio_button_tag  "search_type[part_id]", "2", oils_checked?
        = label_tag :search_type_part_id_2, "", class: "f_oil #{'check' if oils_checked?}"
        = radio_button_tag  "search_type[part_id]", "3", accumulator_checked?
        = label_tag :search_type_part_id_3, "", class: "f_acc #{'check' if accumulator_checked?}"
        = radio_button_tag  "search_type[part_id]", "4", rim_checked?
        = label_tag :search_type_part_id_4, "", class: "f_rm #{'check' if rim_checked?}"
      .search_fields
        .tire.active
          .tire_or_car
            = radio_button_tag :search_of , "tire_type",checked: true
            = label_tag :search_of_tire_type, "По типу шин"
            = radio_button_tag  :search_of , "car_type"
            = label_tag :search_of_car_type, "По марке автомобиля"
          .fields
            .tire_type.active
              / = select_tag "search_type[category_id]", options_for_select((Category.where(part_id: "1").map { |c| [c.name, c.id] }), category_checked), {id: 'tire_category'}
              .tire_fields
                / -binding.pry
                = select_tag "search_type[vendor_id]", options_for_select(tire_vendors,vendor_checked), {id: 'tire_vendor'}
                -if params[:search_type].present? and params[:search_type][:part_id] == '1' and params[:search_type][:category_id].present?
                  / -binding.pry
                  - fields = Category.find(params[:search_type][:category_id]).categories_fields.where(show_in_browse: "1") unless params[:search_type][:category_id].nil?
                  - fields.where(search_type: "select").each do |field|
                    - values = field.categories_fields_values.order("value asc").to_a.sort_by! {|s| s.value.scan(/\d+/)[0].to_i}
                    = select_tag "search_size[field_#{field.id}]", options_for_select((values.map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""]), category_fields_select(field.id)), {id: "field_#{field.id}"}
                -else
                  - fields = Category.first.categories_fields.where(show_in_browse: "1")
                  - fields.where(search_type: "select").each do |field|
                    - values = field.categories_fields_values.order("value asc").to_a.sort_by! {|s| s.value.scan(/\d+/)[0].to_i}
                    = select_tag "search_size[field_#{field.id}]", options_for_select((values.map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""])), {id: "field_#{field.id}"}

              .tire_checkbox
                / -binding.pry
                - fields.where(search_type: "checkbox").each do |field|
                  - values = field.categories_fields_values
                  - values.each do |v|
                    .checkbox_field
                      = check_box_tag "search_season[#{v.value}]", nil, category_fields_checked(v.value) ,id: "checkbox_#{v.id}"
                      = label_tag "checkbox_#{v.id}", "#{v.value}"



              / = select_tag "search[category_id]", options_for_select((Category.where(part_id: "1").map { |c| [c.name, c.id] }).insert(0, ["Тип автомобиля", ""])), {id: 'tire_category'}
              / = select_tag "search[vendor_id]", options_for_select((Vendor.all.map { |v| [v.name, v.id] }).insert(0, ["Производитель", ""])),{id: 'tire_vendor'}
              = submit_tag("Поиск")
            .models
              = select_tag "search_car[manufacturer]", options_for_select((CarManufacturer.all.order(:title).map { |c| [c.title, c.id] }).insert(0, ["Производитель", ""])), {id: 'car_manufacturer'}
              = select_tag "search_car[model]", options_for_select([["Модель",""]]), {id: 'car_model',disabled: true}
              = select_tag "search_car[year]", options_for_select([["Год выпуска", ""]]), {id: 'car_year',disabled: true}
              = select_tag "search_car[modification]", options_for_select([["Модификация", ""]]), {id: 'car_modification',disabled: true}
              <input type="button" value="Поиск">
        .oil
          .oil_type
            = select_tag "search_type[category_id]", options_for_select((Category.where(part_id: "2").map { |c| [c.name, c.id] }), category_checked),{id: 'oil_category'}
            .oil_fields
              / = select_tag "search_type[vendor_id]", options_for_select((Category.find(params[:search_type][:category_id]).vendors.map { |c| [c.name, c.id] }).insert(0, ["Производитель", ""]),vendor_checked), {id: 'tire_vendor'}
              = select_tag "search_type[vendor_id]", options_for_select(oil_vendors,vendor_checked), {id: 'tire_vendor'}
              -if params[:search_type].present? and params[:search_type][:part_id] == '2' and params[:search_type][:category_id].present?
                  - fields = Category.find(params[:search_type][:category_id]).categories_fields.where(show_in_browse: "1") unless params[:search_type][:category_id].nil?
                  - fields.where(search_type: "select").each do |field|
                    - values = field.categories_fields_values
                    = select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""]), category_fields_select(field.id)), {id: "field_#{field.id}"}
              -else
                - fields = Category.where(part_id: 2).first.categories_fields.where(show_in_browse: "1")
                - fields.where(search_type: "select").each do |field|
                  - values = field.categories_fields_values
                  = select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""])), {id: "field_#{field.id}"}
            .oil_checkbox
            / = select_tag "search[vendor_id]", options_for_select((Vendor.all.map { |v| [v.name, v.id] }).insert(0, ["Производитель", ""])),{id: 'oil_vendor'}
          = submit_tag("Поиск")
        .battery
          .battery_type
            .battery_fields
              = select_tag "search_type[vendor_id]", options_for_select(battery_vendors,vendor_checked), {id: 'battery_vendor'}
              - fields = Category.where(part_id: 3).first.categories_fields.where(show_in_browse: "1")
              - fields.where(search_type: "select").each do |field|
                - values = field.categories_fields_values
                = select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""]), category_fields_select(field.id)), {id: "field_#{field.id}"}
            .battery_checkbox
          = submit_tag("Поиск")
        .rim
          .rim_type
            .rim_fields
              = select_tag "search_type[vendor_id]", options_for_select(rim_vendors,vendor_checked), {id: 'rim_vendor'}
              - fields = Category.where(part_id: 4).first.categories_fields.where(show_in_browse: "1")
              - fields.where(search_type: "select").each do |field|
                - values = field.categories_fields_values
                = select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""]), category_fields_select(field.id)), {id: "field_#{field.id}"}
            .rim_checkbox
          = submit_tag("Поиск")

      .payment-system
        .payment-system__title
          h5 Принимаем к оплате
        = image_tag("elcart.png")


  -unless Banner.where("active = TRUE AND site = 'catalog'").blank?
    - Banner.where("active = TRUE AND site = 'catalog'").each do |banner|
      = link_to (image_tag banner.file.catalog_placeholder.url), banner.link, class: "banner"
