.footer
  .wrapper
    .flogo
      = link_to image_tag("logo_new.svg"), root_path
      / = link_to "Autoshina", root_path, class: "flogo_img"
      p.cop &#169; autoshina.kg 2009-2014
    .finfo
      p Пн.-Сб. 08:00-18:00
      p Вс. выходной
      / p 
      /   | Телефон: Бишкек 
      /   - @phones.each_with_index do |phone, i|
      /     a< [href="+#{phone}"] = " +#{phone}"
      /     - if i != @phones.length-1
      /       | ,
      p.no-mobile = @site_settings.phone
      p.show-mobile 
        | Телефон: Бишкек 
        - @phones.each_with_index do |phone, i|
          a< [href="tel:+#{phone}"] = "+#{phone}"
          - if i != @phones.length-1
            | ,
      p = "email: #{mail_to @site_settings.email}".html_safe
    .fmenu
      ul.left_menu
        li = link_to "Доставка", deliver_path
        li = link_to "Контакты", contacts_path
        li = link_to "О нас", about_path
        li = link_to "Правила", rules_path
      ul
        li = link_to "Шины", products_path( search_type: {part_id: 1})
        li = link_to "Масла", products_path( search_type: {part_id: 2})
        li = link_to "Диски", products_path( search_type: {part_id: 4})
        li = link_to "Аккумуляторы", products_path( search_type: {part_id: 3})
    .ficon
      p.bmarks Товар добавлен в закладки
      p.pop Популярный товар
      p.dis На данный товар действуют скидки