.header
  = link_to "", root_path, id: "logo"
  .info
    ul
      li Режим работы:
      li Пн-Сб. 08:00-18:00
      li Вс. выходной
      li.no-mobile = @site_settings.phone
      li.show-mobile 
        | Телефон: Бишкек 
        - @phones.each_with_index do |phone, i|
          a< [href="tel:+#{phone}"] = "+#{phone}"
          - if i != @phones.length-1
            | ,
      li = "email: #{mail_to @site_settings.email}".html_safe
  .header_cart
    .currency
      ul
        = render "shared/currency"
      / p Закладки
      .bm
        / = link_to "Закладки", @bookmark, class: "bookmark_count", remote: true  
        =render "bookmarks/bookmark_link"
      .ct
        =render "orders/order_link"
  #message
    -if flash[:notice].present?
      = flash[:notice]