.nav-box
  .nav
    .menu
      ul
        li = link_to "Шины", products_path( search_type: {part_id: 1}),  class: "#{'active' if params[:controller] == 'products' and params[:search_type] and params[:search_type][:part_id] == '1'}"
        li = link_to "Масла", products_path( search_type: {part_id: 2}),  class: "#{'active' if params[:controller] == 'products' and params[:search_type] and params[:search_type][:part_id] == '2'}"
        li = link_to "Диски", products_path( search_type: {part_id: 4}),  class: "#{'active' if params[:controller] == 'products' and params[:search_type] and params[:search_type][:part_id] == '4'}"
        li = link_to "Аккумуляторы", products_path( search_type: {part_id: 3}),  class: "#{'active' if params[:controller] == 'products' and params[:search_type] and params[:search_type][:part_id] == '3'}"
        li = link_to "Калькулятор", calculator_path,  class: "#{'active' if params[:controller] == 'pages' and params[:action] == 'calculator'}"
        li = link_to "Доставка", deliver_path, class: "#{'active' if params[:controller] == 'pages' and params[:action] == 'deliver'}"
        li = link_to "Акции", offer_items_path, class: "#{'active' if params[:controller] == 'offer_items'} link--blue"
        li = link_to "О нас", about_path, class: "#{'active' if params[:controller] == 'pages' and params[:action] == 'about'}"
        li = link_to "Новости", news_items_path, class: "#{'active' if params[:controller] == 'news_items'}"
        li = link_to "Контакты", contacts_path, class: "#{'active' if params[:controller] == 'pages' and params[:action] == 'contacts'}"
        li = link_to "Правила", rules_path, class: "#{'active' if params[:controller] == 'pages' and params[:action] == 'rules'}"
    .social
        ul
            li = link_to image_tag("inst.svg"), "http://instagram.com/autoshina.kg"
            / li = link_to image_tag("tw.png"), "https://twitter.com/autoshinakg"
            li = link_to image_tag("face.svg"), "https://www.facebook.com/autoshina.kg"
            / li = link_to image_tag("ok.png"), "http://www.odnoklassniki.ru/group/56852959199276"
