- if Banner.slides.any?
  -if Banner.slides.count > 1
    #slides
      - Banner.slides.each do |s|
        / - binding.pry
        -if MIME::Types.type_for(s.file.path).first.content_type == "application/x-shockwave-flash"
          <object width="1280" height="325">
          <param name="movie" value="#{s.file.url}">
          <embed src="#{s.file.url}" width="1280" height="325">
          </embed>
          </object>
        - else
          - unless s.link.blank?
            = link_to (image_tag s.file.slide.url), s.link
          -else
            = image_tag s.file.slide.url
      a href="#" class="slidesjs-previous slidesjs-navigation"
      a href="#" class="slidesjs-next slidesjs-navigation"
  -else
    #slide
      - unless Banner.slides.first.link.blank?
        = link_to (image_tag Banner.slides.first.file.slide.url), Banner.slides.first.link
      -else
        = image_tag Banner.slides.first.file.slide.url