/ =binding.pry
/ = form_for @search, url: collection_path, as: :q, builder: ActiveAdmin::Filters::CustomFormBuilder, html: {method: :get, class: :filter_form} do |f|
 
/   = f.input :code_contains, as: :string
/   = f.input :code_contains, as: :filter_string
 
/   = f.form_buffers.last
 
/   = f.buttons do
/     = f.submit I18n.t('active_admin.filter')
/     = link_to(I18n.t('active_admin.clear_filters'), "#", :class => "clear_filters_btn")
/     = hidden_field_tags_for(params, :except => [:q, :page])
= form_tag(admin_products_path, :method => "get") do |f|
  .search_type
    = text_field_tag "field_value"
    = submit_tag "Фильтровать"