.title
  h1 Оформление заказа
= form_for @order, remote: true do |f|
  -if @order.errors.any?
    ul.errors
      -@order.errors.messages.values.flatten.each do |msg|
        li = msg
  .form_field
    =f.text_field :name, placeholder: "Введите имя..."
  .form_field
    =f.text_field :address, placeholder: "Введите адрес..."
  .form_field
    =f.text_field :phone, placeholder: "Введите номер телефона..."
  .form_field
    =f.submit "Оформить"
.close_button &#x2715;
