<h3 class="total-order__title">Итог заказа</h3>
<div class="total-order__inner">
  <div class="total-order__cols">
    <div class="total-order__col">
      <div class="total-order__text">Единиц товара (<%= @order.order_items.count %>):</div>
    </div>
    <div class="total-order__col">
      <div class="total-order__price js-order-price"><span><%= "%.2f" % @order.discount_total_price_s %></span> сом.</div>
    </div>
  </div>
  <div class="total-order__cols">
    <div class="total-order__col">
      <div class="total-order__text">Доставка:</div>
    </div>
    <div class="total-order__col">
      <div class="total-order__price js-delivery-cost"><span><%= delivery_cost.to_f %></span> сом.</div>
    </div>
  </div>
</div>
<div class="total-order__payment">
  <div class="total-order__col">
    <div class="total-order__text">Итого к оплате:</div>
  </div>
  <div class="total-order__col">
    <div class="total-order__price js-total-order-cost"><span><%= "%.2f" % (@order.discount_total_price_s + delivery_cost.to_f) %></span> сом.</div>
  </div>
</div>
<div class="total-order__button">
  <%= f.submit( payment_method == 'cash' ? "Заказать" : "Перейти к оплате", class: 'total-order__link js-submit-order', data: {disable_with: "Подождите..." }) %>
</div>
