-if @order.order_items.any? 
  = link_to "Корзина <strong>#{total_price @order}</strong> (#{@order.order_items.count})".html_safe, @order, class: "cart_count", remote: true  
  = link_to "", order_path(@order),id: "clear_cart", method: :delete, remote: true
-else
  = link_to "Корзина пуста", "#", class: "cart_count"
