<div class="user-order__card-or-cash">
  <%= f.radio_button(:payment_type, 'cash') %>
  <%= f.label :payment_type, "Наличными", value: "cash" %>
  <%= f.radio_button(:payment_type, 'card', checked: (payment_method == 'card')) %>
  <%= f.label :payment_type, "Платежной картой Элкарт", value: "card" %>
</div>
<div class="user-order__form">
  <div class="user-order__form-item">
    <%= f.text_field :name, placeholder: 'ФИО *' %>
    <% if @order.errors.messages[:name].present? %>
      <div class="form-errors js-form-errors__name">
        <ul>
          <li class="form-errors__item"><%= @order.errors.messages[:name].first %></li>
        </ul>
      </div>
    <% end %>
    <%= f.label :name, "Обязательно заполните ФИО" %>
  </div>
  <div class="user-order__form-item">
    <%= f.text_field :phone, placeholder: 'Номер телефона *', type: 'tel', data: { inputmask: "'mask': '+999 999 999 999', 'clearmaskonlostfocus': 'true'" }%>
    <% if @order.errors.messages[:phone].present? %>
      <div class="form-errors js-form-errors__phone">
        <ul>
          <li class="form-errors__item"><%= @order.errors.messages[:phone].first %></li>
        </ul>
      </div>
    <% end %>
    <%= f.label :phone, "Формат: +996 555 557 557" %>
  </div>
  <div class="user-order__form-item">
    <%= f.text_field :email, placeholder: 'Адрес электронной почты *', type: 'email'%>
    <% if @order.errors.messages[:email].present? %>
      <div class="form-errors js-form-errors__email">
        <ul>
          <li class="form-errors__item"><%= @order.errors.messages[:email].first %></li>
        </ul>
      </div>
    <% end %>
    <%= f.label :email, "Email необходимо указать для получения уведомлений о статусе оплаты. Например: almaz1982@yandex.ru" %>
  </div>
  <div class="user-order__form-item">
    <div class="user-order__select">
       <%= f.select :delivery_id, options_for_select(Delivery.all.map { |d| [d.region, d.id, { 'data-delivery-cost' => d.cost }] }, selected: delivery_region_id ), { prompt: "Место доставки *" }, { class: "js-select-deleviry" } %>
       <% if @order.errors.messages[:delivery_id].present? %>
        <div class="form-errors js-form-errors__delivery_id">
          <ul>
            <li class="form-errors__item"><%= @order.errors.messages[:delivery_id].first %></li>
          </ul>
        </div>
      <% end %>
      <%= f.label :delivery, "В случае, если в предоставленном списке нет Вашего региона, то Вам нужно выбрать пункт «Нет моего региона» и уточнить стоимость доставки у нашего менеджера по телефону: <br><b>+996 555 00 15 39</b>".html_safe %>
    </div>
  </div>
  <div class="user-order__form-item">
    <%= f.text_area :address, placeholder: "Адрес доставки *", size: "30x10" %>
    <% if @order.errors.messages[:address].present? %>
      <div class="form-errors js-form-errors__address">
        <ul>
          <li class="form-errors__item"><%= @order.errors.messages[:address].first %></li>
        </ul>
      </div>
    <% end %>
    <%= f.label :address, "Укажите точный адрес доставки. Например: Нарния!" %>
  </div>
</div>
<%= f.hidden_field(:total_price, value: @order.total_price ) %>
