.title
  h1 Корзина
.items
  =render @order.order_items
.buy_details
  p.total == "Предварительная сумма: <b>#{total_price @order}</b> *"
  p.delivery_warning == "*Без учета стоимости доставки"

  -if (saving @order).to_i > 0
    p.discount.pink == "Экономия: <strong>#{saving @order }</strong>"
  = link_to "Оформить заказ", edit_order_path(@order)
.close_button &#x2715;
