$(".order").remove()
$(".bg").remove()
$("#message").text("Ваш заказ принят! Ждите когда с Вами свяжутся")
$("#message").slideDown()
$(".cart_count").remove();
$("#clear_cart").remove();
$(".currency").append("<%= j render 'orders/order_link' %>")
setTimeout(function(){
    $("#message").slideUp()
  }, 4500);