$('.order').remove()
$("body").append("<div class='order'></div>")
$("#cart").empty().hide();
$(".order").append("<%= j render'orders/form' %>");
$(".bg, .close_button").click(function(){
  $('.bg').remove()
  $('.order').remove()
  $("#cart").hide();
  $("#cart").empty();
});
$(document).keyup(function(e) {

  if (e.keyCode == 27) { 
    $('.bg').remove()
    $('.order').remove()
  }   // esc
});