<div class="order-block">
  <%= form_for @order, html: { id: "user_order_form" } do |form| %>
    <div class="user-order user-order__col-left">
      <div class="user-order__info">
        <div class="user-order__img">
          <%= image_tag('info-ic.svg', alt: "info") %>
        </div>
        <div class="user-order__text">
            <p>Уважаемый покупатель, Вы можете быть уверенны в сохранении конфиденциальности Ваших персональных данных. Вся указанная информация надежно защищена SSL сертификатом. Процесс онлайн оплаты проходит на стороне банка, где гарантирован максимальный уровень защиты данных.</p><br/>
            <p>Для произведения оплаты посредством платежной карты Элкарт Вам необходимо убедиться в том, что у Вас подключена услуга интернет платежей, для этого Вам нужно обратиться в банк, в котором была выпущена платежная карта.</p>
        </div>
      </div>
      <%= render partial: 'orders/order_form', locals: { f: form } %>
    </div>
    <div class="user-order__col-right">
      <div class="total-order">
        <%= render partial: 'orders/order_total', locals: { f: form } %>
      </div>
      <div class="user-order__delivery-warning">
        Стоимость доставки до Вашего адреса следует уточнить у наших менеджеров по следующему номеру телефона: 0555 00 15 39. Оплата за доставку производится наличными при получении заказа.
      </div>
    </div>
  <% end %>
</div>
