// $(".cart_count").html('Корзина пуста')
// $('.cart_count').click(function () {return false;});
// $(".currency .clear_cart").remove()
$(".cart_count").remove();
$("#clear_cart").remove();
$(".currency").append("<%= j render 'orders/order_link' %>")
$("#message").text("Все товары удалены из корзины")
$("#message").slideDown()
$("#order_item_quantity").val("1")
setTimeout(function(){
    $("#message").slideUp()
  }, 3500);