$("#cart").show()
$("body").append("<div class='bg'></div>")
$("#cart").html("<%= j render('orders/show') %>");
if ($("#cart .items .order_item").length > 2){
  $("#cart .items").css("overflow-y", "scroll")
}
$( "#cart" ).keypress(function() {
  console.log( "Handler for .keypress() called." );
});
$(".bg, .close_button").click(function(){
  $('.bg').remove()
  $("#cart").hide();
  $("#cart").empty();
});
$(document).keyup(function(e) {

  if (e.keyCode == 27) { 
    $('.bg').remove()
    $("#cart").hide();
    $("#cart").empty();
  }   // esc
});