.order_item class="bm_#{bookmark_item.id}"
  .img
    = link_to (image_tag bookmark_item.product.image.url(:thumb)), bookmark_item.product
  .item_info
    .details
      h2 = link_to bookmark_item.product.name, bookmark_item.product
      p = link_to  "Размер: #{bookmark_item.product.internal_name}", bookmark_item.product
      -if bookmark_item.product.get_value_by_field 'Сезонность'
        p = link_to  "Сезонность: #{bookmark_item.product.get_value_by_field('Сезонность').value}", bookmark_item.product
      p = link_to "Наличие: на складе", bookmark_item.product
    .cost
      p = link_to "Цена: #{currency_checked bookmark_item.product}", bookmark_item.product
      - if bookmark_item.product.discount > 0
        p.discount = "Акция: #{discount bookmark_item.product}"
        p.savings = "Вы экономите: #{price_difference bookmark_item.product}"
    .item_count
      = button_to "Добавить в корзину", order_items_path(order_item: {product_id: bookmark_item.product.id}), class: "bookmarks",remote: true 
  = link_to "", bookmark_item ,class: "clear_cart", method: :delete, remote: true