$(".bookmark_count").remove();
$("#clear_bookmark").remove();
$(".bm").append("<%= j render 'bookmarks/bookmark_link' %>")
$("#message").text("Товар добавленен в закладки")
$("#message").slideDown()
if (($(".product_show").length > 0) && ($(".product_show .p_icons .bmarks").length == 0))
  $(".product_show .p_icons").append("<div class='bmarks'></div>");

setTimeout(function(){
    $("#message").slideUp()
  }, 3500);