$(".bm_"+"<%= @bookmark_item.id %>").remove()
// $(".cart_count").html('<%=j "Корзина <strong>#{@order.total_price}</strong> Сом. (#{@order.order_items.count})".html_safe %>')
$(".bookmark_count").remove();
$("#clear_bookmark").remove();
$(".bm").append("<%= j render 'bookmarks/bookmark_link' %>")
<% if @bookmark.bookmark_items.any? %>
  $("#message").text("Товар удален из закладок")
  if ($(".product_show").length > 0)
    $(".product_show .p_icons .bmarks").remove()
<% else %>
  $("#message").text("Все товары удалены из закладок")
  $("#bookmark").empty()
  $("#bookmark").remove()
  $(".bg").remove()
  if ($(".product_show").length > 0)
    $(".product_show .p_icons .bmarks").remove()
<% end %>
$("#message").slideDown()
setTimeout(function(){
    $("#message").slideUp()
  }, 3500);