-provide(:title, "О нас")
#contacts
  .block_item
    .block_title: .title_item == @about.title
    .block_content
      == @about.content
  .block_item
    .block_title
      .title_item == @about_site.title
    .block_content
      ==@about_site.content