-provide(:title, "Калькулятор")
/ .product_slider
.title
  h1 Сравнение шин
.tire_size
  = form_tag do
    .old_size
      h3 Старый размер
      = select_tag :old_width, options_for_select(@width), {id: 'old_width'}
      = select_tag :old_height, options_for_select(@height), {id: 'old_height'}
      = select_tag :old_diameter, options_for_select(@diameter), {id: 'old_diameter'}
    .new_size
      h3 Новый размер
      = select_tag :new_width, options_for_select(@width), {id: 'new_width'}
      = select_tag :new_height, options_for_select(@height), {id: 'new_height'}
      = select_tag :new_diameter, options_for_select(@diameter), {id: 'new_diameter'}
  table.compare_table
    thead
      tr
        th Размеры
        th Старый
        th Новый
        th Сравнение
    tbody  
      tr.width_td
        td Ширина шины, мм(A)
        td Старый
        td Новый
        td Сравнение
      tr.height_td
        td Высота профиля, мм(B)
        td Старый
        td Новый
        td Сравнение
      tr.inside_diameter_td
        td Внутренний диаметр, мм(C)
        td Старый
        td Новый
        td Сравнение
      tr.outside_diameter_td
        td Внешний диаметр, мм(D)
        td Старый
        td Новый
        td Сравнение
      tr.clearance
        td Изменение клиренса, мм
        td 
        td 
        td Сравнение
.speed
  h3  Показания спидометра
  .amount
  = form_tag do
    =hidden_field_tag :speed
  .jq_slider
  table.speed_table
    tbody  
      tr.real_speed
        td Реальная скорость, км/ч
        td 
        td 60 км/ч
        td 
      tr.difference_speed
        td Разница скорости, км/ч
        td 
        td 0.00 км/ч
        td 
.rim_size
  .title
    h1 Расчет ширины диска
  = form_tag do
    h3 Выбирите типоразмер
    = select_tag :width, options_for_select(@width), {id: 'tire_width'}
    = select_tag :height, options_for_select(@height), {id: 'tire_height'}
    = select_tag :diameter, options_for_select(@diameter), {id: 'tire_diameter'}
  table.rim_size_table
    thead
      tr
        th Параметры диска
        th 
    tbody  
      tr
        td Диаметр диска, дюймы
        td#diameter_rim -
      tr
        td Минимальная ширина диска, дюймы
        td#min_width_rim -
      tr
        td Максимальная ширина диска, дюймы
        td#max_width_rim -
.inch_size
  .title
    h1 Калькулятор - дюймы
  = form_tag do
    h3 Размер шины в дюймах
    = select_tag :height_i, options_for_select(@height_i), {id: 'tire_height_i'}
    = select_tag :width_i, options_for_select(@width_i), {id: 'tire_width_i'}
    = select_tag :diameter_i, options_for_select(@diameter_i), {id: 'tire_diameter_i'}
  table.inch_size_table
    thead
      tr
        th colspan="4" Перерасчет дюймового типоразмера шин
    tbody  
      tr
        td Американский типоразмер
        td#height_inch -
        td#width_inch -
        td#diameter_inch -
      tr
        td Метрический размер
        td#width_m -
        td#height_m -
        td#diameter_m -
      tr
        td Округленный до европейского стандарта 
        td#width_o -
        td#height_o -
        td#diameter_o -
