.news_item
  .photo_block = image_tag news_item.image.url :thumb
  .content_block
    .date = news_item.created_at.strftime("%d.%m.%Y")
    = link_to news_item
      h2 = news_item.title
    .text = news_item.snippet