$(".news_items_block").append("<%= escape_javascript(render(@news_items)) %>")
<% if @news_items.next_page %>
  $('.pagination').replaceWith('<%= j paginate(@news_items) %>');
<% else %>
  $('.pagination').remove();
  $('#more').remove();
<% end %>