<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style type="text/css">
      body, html  { height: 100%; }
      html, body, div, span, applet, object, iframe,
      /*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, font, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
      }
      body { line-height: 1; }
      ol, ul { list-style: none; }
      blockquote, q { quotes: none; }
      blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
      :focus { outline: 0; }
      del { text-decoration: line-through; }
      table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

      /*------------------------------------------------------------------ */

      /*This is not important*/
      body{
        font-family:Arial, Helvetica, sans-serif;
        margin:0 auto;
      }
      a:link {
        color: #666;
        font-weight: bold;
        text-decoration:none;
      }
      a:visited {
        color: #666;
        font-weight:bold;
        text-decoration:none;
      }
      a:active,
      a:hover {
        color: #bd5a35;
        text-decoration:underline;
      }

      /*
      Table Style - This is what you want
      ------------------------------------------------------------------ */
      table a:link {
        color: #666;
        font-weight: bold;
        text-decoration:none;
      }
      table a:visited {
        color: #999999;
        font-weight:bold;
        text-decoration:none;
      }
      table a:active,
      table a:hover {
        color: #bd5a35;
        text-decoration:underline;
      }
      table {
        font-family:Arial, Helvetica, sans-serif;
        color:#666;
        font-size:12px;
        text-shadow: 1px 1px 0px #fff;
        background:#eaebec;
        margin:20px;
        border:#ccc 1px solid;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;

        -moz-box-shadow: 0 1px 2px #d1d1d1;
        -webkit-box-shadow: 0 1px 2px #d1d1d1;
        box-shadow: 0 1px 2px #d1d1d1;
      }
      table th {
        padding:10px 25px 5px 25px;
        border-top:1px solid #fafafa;
        border-bottom:1px solid #e0e0e0;

        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
        background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
      }
      table th:first-child{
        text-align: left;
        padding-left:20px;
      }
      table tr:first-child th:first-child{
        -moz-border-radius-topleft:3px;
        -webkit-border-top-left-radius:3px;
        border-top-left-radius:3px;
      }
      table tr:first-child th:last-child{
        -moz-border-radius-topright:3px;
        -webkit-border-top-right-radius:3px;
        border-top-right-radius:3px;
      }
      table tr{
        text-align: center;
        padding-left:20px;
      }
      table tr td:first-child{
        text-align: left;
        padding-left:20px;
        border-left: 0;
      }
      table tr td {
        padding:10px 18px;
        border-top: 1px solid #ffffff;
        border-bottom:1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
      }
      table tr.even td{
        background: #f6f6f6;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
        background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
      }
      table tr:last-child td{
        border-bottom:0;
      }
      table tr:last-child td:first-child{
        -moz-border-radius-bottomleft:3px;
        -webkit-border-bottom-left-radius:3px;
        border-bottom-left-radius:3px;
      }
      table tr:last-child td:last-child{
        -moz-border-radius-bottomright:3px;
        -webkit-border-bottom-right-radius:3px;
        border-bottom-right-radius:3px;
      }
      table tr:hover td{
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
        background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
      }
      .sum td{border-left: 0px;}
</style>
    </head>
    <body>
      <p>Уважаемый(ая), <%= @order.name %>,</p>
      <p>Ваш заказ <b>№<%= @order.id %></b> принят к обработке.</p>
      <p>В ближайщее время с Вами свяжутся наши менеджеры.</p>
      <p>В случае, если у Вас возникли вопросы, Вы можете связаться с нами по телефонам: +996 559 00 12 39, +996 555 00 15 39</p>
    <table>
      <tbody>
        <tr>
          <th colspan="7">Информация о заказе</th>
        </tr>
        <tr>
          <th>Наименование продукта</th>
          <th>Производитель</th>
          <th>Размерность</th>
          <th>К-во</th>
          <th>Цена за ед.</th>
          <th>Скидка</th>
          <th>Стоимость</th>
        </tr>
        <%- @order.order_items.each do |item| %>
          <tr>
            <td><%= item.product_name %></td>
            <td><%= item.product.vendor.name%></td>
            <td><%= item.product_internal_name%></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency item.product_cost.to_f, format: '%n %u', unit: "сом" %></td>
            <td style="text-align: center;"><%= item.product_discount %>%</td>
            <td><%= number_to_currency item.total_discounted_price, format: '%n %u', unit: "сом" %></td>
          </tr>
        <% end %>
        <tr class="sum">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Всего: </b></td>
          <td><%= "#{number_to_currency @order.total_discounted_price_som, format: '%n %u', unit: "сом"}".html_safe %></td>
        </tr>
        <tr class="sum">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Доставка: </b></td>
          <td>
            <%= "#{number_to_currency @order.delivery_price_som, format: '%n %u', unit: "сом"}".html_safe %>
          </td>
        </tr>
        <tr class="sum">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Итого:</b> </td>
          <td>
            <%= "#{number_to_currency (@order.total_cost_som), format: '%n %u', unit: "сом"}".html_safe %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
