<div class="payment_result__block">
  <div class="payment_img__wrapper">
    <%= image_tag('payment_canceled.svg', class: 'payment_result__img') %>
  </div>
  <div class="payment_message__block">
    <p> Уважаемый покупатель! </p>
    <p class="payment_title__error payment_title">Платеж не прошёл</p>
    <p class="payment_hint">Убедитесь, что у Вас достаточно средств на платежной карте для
    осуществленния данного платежа и указаны верные данные
    карты. Если дело не в этом, то свяжитесь с банком, выпустившим
    вашу платежную карту.</p>
  </div>
  <div>
    <%= button_to('Перейти на главную', root_path, class: 'btn_standard', method: 'get') %>
  </div>
</div>
