<div class="payment_result__block">
  <div class="payment_img__wrapper">
    <%= image_tag(@response[:status] == 'success' ? 'payment_success.svg' : 'payment_canceled.svg', class: 'payment_result__img') %>
  </div>
    <div class="payment_message__block">
    <p> Уважаемый покупатель! </p>
    <p class="payment_title__<%= @response[:status] == 'success' ? 'success' : 'error' %> payment_title"><%= @response[:title] %> </p>
    <% if @response[:status] == 'success' %>
      <p> Номер Вашего заказа - <%= @order.id %></p>
    <% end %>
    <p class="payment_hint"><%= @response[:description] %>
      <% if @response[:status] != 'success' %>
        <p class="payment_hint"> Вы будете перенаправленны на главную страницу через</br>
      <% end %>
     <span class="js_seconds_before_redirect">15</span> секунд</p>
  </div>
  <div>
    <%= button_to('Перейти на главную', root_path, class: 'btn_standard', method: 'get') %>
  </div>
</div>
