.order_item
  .img
    = image_tag order_item.product.image.url(:thumb)
  .item_info
    .details
      h2 = order_item.product.name
      p = "Размер: #{order_item.product.internal_name}"
      -if order_item.product.get_value_by_field 'Сезонность'
        p = "Сезонность: #{order_item.product.get_value_by_field('Сезонность').value}"
      p = "Наличие: на складе"
    .cost
      p = "Цена: #{currency_checked order_item.product}"
      - if order_item.product.discount > 0
        p.discount.pink = "Акция: #{discount order_item.product}"
        p.savings = "Вы экономите: #{price_difference order_item.product}"
    .item_count
      =form_for order_item, remote: true do |f|
        =f.label :quantity, "Количество"
        =f.text_field :quantity
        =f.submit "Обновить"
  = link_to "", order_item ,class: "clear_cart", method: :delete, remote: true
