$("#edit_order_item_"+"<%= @order_item.id %>").parents(".order_item").remove()
// $(".cart_count").html('<%=j "Корзина <strong>#{@order.total_price}</strong> Сом. (#{@order.order_items.count})".html_safe %>')
$(".cart_count").remove();
$("#clear_cart").remove();
$(".currency").append("<%= j render 'orders/order_link' %>")
if ($("#cart .items .order_item").length < 4){
  $("#cart .items").css("overflow-y", "visible")
}
<% if @order.order_items.any? %>
  $(".buy_details .total").html('<%=j "Предварительная сумма: <strong>#{total_price @order}</strong>".html_safe %>')
  <%-if (saving @order).to_i > 0 %>
    $(".buy_details .discount").html('<%=j "Экономия: <strong>#{saving @order}</strong>".html_safe %>')
  <%- else %>
    $(".buy_details .discount").remove()
  <%- end %>
  $("#message").text("Товар удален из корзины ")
<% else %>
  $("#message").text("Корзина пуста")
  $("#cart").empty()
  $("#cart").hide()
  $(".bg").remove()
<% end %>
$("#message").slideDown()
$("#order_item_quantity").val("1")
setTimeout(function(){
    $("#message").slideUp()
  }, 3500);
