$(".cart_count").remove();
$("#clear_cart").remove();
$(".currency").append("<%= j render 'orders/order_link' %>")
$(".buy_details .total").html('<%=j "Предварительная сумма: <strong>#{total_price @order}</strong>".html_safe %>')
$(".buy_details .discount").html('<%=j "Экономия: <strong>#{saving @order }</strong>".html_safe %>')
$("#message").text("<%= @msg.html_safe %>")
$("#message").slideDown()
$("#order_item_quantity").val("1")
setTimeout(function(){
    $("#message").slideUp()
  }, 3500);
