#logo{
  font-size: 36px !important;
}
.check{
  background: asset_url("bt_bg_ie.png") no-repeat !important;
  font-weight: 800;
}
.tire_or_car{
  input{
    margin-right: 0px;
  }
  label{
    font-size: 11px !important;
    
  }
}
.flogo_img{
  position: absolute;
  top: 22px;
  left: 110px;
  font-size: 22px;
}
.left_menu{
  margin-right: 90px;
}