// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.blue{
  background: #6E92FF;
}
select{
  width: 240px;
}
.has_many_container{
  textarea{
    height: 15px;
  }
}
.inputs{
  li{
    #cke_news_item_text, #cke_static_page_content{
      margin-left: 20%; 
    }
  }
}
#field_value{
  margin-bottom: 10px;
}
#edit_order{
  ol{
    margin-left: 20px;
  }
  .table_orders{
    padding-right: 20px
  }
  table{
    th{
      border-bottom: 1px solid #DBDBDB;
    }
    td{
      border-bottom: 1px solid #DBDBDB;
    }
  }
}
.client_info{
  font-size: 14px;
  p{
    margin: 5px 0 5px;  
  }
}
.has_many_fields{
  .cke{
    margin-left: 20%;
  }
}