.payment_result__block {
  width: 100%;
  margin: 0 auto;
  height: 420px;
  text-align: center;
}
.payment_img__wrapper {
  width: 100%;
  margin-top: 82px;
  margin-bottom: 16px;
}
.payment_message__block {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 44px;
}
.payment_message__block p {
  margin-bottom: 16px;
}
.payment_title {
  font-size: 24px;
}
.payment_title__success {
  color: #24ad87;
}
.payment_title__error {
  color: #d65a49;
}
.payment_result__img {
  display: block;
  margin: 0 auto;
}
.btn_standard {
  background: #0075ff;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  border: none;
  height: 30px;
  padding: 0 15px;
  border-radius: 2px;
  cursor: pointer;
}
.payment_hint {
  width: 498px;
  margin: 0 auto;
}
