.product
  .p_icons
    - if product.featured > 50
      .pop
    - if product.discount > 0
      .dis
    - if @bookmark.products.include? product
      .bmarks
  .image
    = link_to (image_tag product.image.thumb.url), product 
    = link_to "Просмотр", product, class: "show" ,remote: true
  .short_description
    h2 = link_to product.vendor.name, product
    h2 
      = link_to product.name, product, title: "#{product.name}", class: "hover"
      span.grad
      / .show_title
      /   div = product.name
    .param

      -if product.part.id == 1
        p = link_to "Размер: #{product.internal_name}", product
        p = link_to "Наличие: #{ (product.count > 3) ? 'На складе' : product.count}", product
        -if product.get_value_by_field 'Сезонность'
          p = link_to "Сезонность: #{product.get_value_by_field('Сезонность').value}", product
      -elsif product.part.id == 2
        -if product.get_value_by_field('Объем(л.)').present?
          p = link_to "Объем(л.): #{product.get_value_by_field('Объем(л.)').value}", product
        -elsif product.get_value_by_field('Объем(кг.)').present?
          p = link_to "Объем(кг.): #{product.get_value_by_field('Объем(кг.)').value}", product
        -if product.get_value_by_field 'Сезонность'
          p = link_to "Сезонность: #{product.get_value_by_field('Сезонность').value}", product
        p = link_to "Наличие: #{ (product.count > 1) ? 'На складе' : product.count}", product
      -elsif product.part.id == 3
        -if product.get_value_by_field('Полярность').present?
          p = link_to "Полярность: #{product.get_value_by_field('Полярность').value}", product
        -if product.get_value_by_field('Емкость').present?
          p = link_to "Емкость: #{product.get_value_by_field('Емкость').value}", product
        -if product.get_value_by_field('Ток').present?
          p = link_to "Ток: #{product.get_value_by_field('Ток').value}", product
        -if product.get_value_by_field('Клеммы').present?
          p = link_to "Клеммы: #{product.get_value_by_field('Клеммы').value}", product
        p = link_to "Наличие: #{ (product.count > 1) ? 'На складе' : product.count}", product
      -elsif product.part.id == 4
        -if product.get_value_by_field('Ширина').present?
          p = link_to "Ширина: #{product.get_value_by_field('Ширина').value}", product
        -if product.get_value_by_field('Емкость').present?
          p = link_to "Диаметр: #{product.get_value_by_field('Емкость').value}", product
        -if product.get_value_by_field('Диаметр').present?
          p = link_to "Крепеж: #{product.get_value_by_field('Диаметр').value}", product
        -if product.get_value_by_field('Вылет').present?
          p = link_to "Вылет: #{product.get_value_by_field('Вылет').value}", product
        -if product.get_value_by_field('Вылет(ET)').present?
          p = link_to "Вылет(ET): #{product.get_value_by_field('Вылет(ET)').value}", product
        -if product.get_value_by_field('ЦО(Dia)').present?
          p = link_to "ЦО(Dia): #{product.get_value_by_field('ЦО(Dia)').value}", product
        p = link_to "Наличие: #{ (product.count > 1) ? 'На складе' : product.count}", product
    - if product.discount > 0
      p.gray_price = link_to "Цена: <strong class='curr'>#{currency_checked product}</strong>".html_safe
      / -binding.pry
      p.pink = link_to "Акция: <strong class='curr'>#{discount product}</strong>".html_safe, product
    -else
      p = link_to "Цена: <strong class='curr'>#{currency_checked product}</strong>".html_safe, product
