$(".currency ul").empty()
$(".currency ul").html("<%= j render 'shared/currency' %>")
<% if cookies[:currency] == "dollar" %>
  $(".curr").each(function( index ) {
    price = $( this ).text();
    $( this ).text((price/54).toFixed(0))
  });
<% elsif cookies[:currency] == "som" %>
  $(".curr").each(function( index ) {
    price = $( this ).text();
    $( this ).text((price*54).toFixed(0))
  });
<% end %>