<%- if params[:type] == "1" %>

  $(".tire_fields").empty();
  $(".tire_fields").append(
    '<%= j (select_tag "search_type[vendor_id]", options_for_select((Category.find(params[:category_id]).vendors.map { |v| [v.name, v.id] }).insert(0, ["Производитель", ""]), vendor_checked), {id: "tire_vendor"}) %>'
    );
  <%- @fields.where(search_type: "select").each do |field| %>
      <%- values = field.categories_fields_values %>
      $(".tire_fields").append(
        '<%= j (select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| [c.value, c.value] }).insert(0, ["#{field.field_name}", ""])), {id: "field_#{field.id}"}) %>'
        );
  <% end %>
  $(".tire_checkbox").empty();
  <%- @fields.where(search_type: "checkbox").each do |field| %>
      <%- values = field.categories_fields_values %>
      <% values.each do |v| %>
        $(".tire_checkbox").append("<div class='checkbox_field'></div>");
        $(".checkbox_field:last").append('<%= check_box_tag "search_season[#{v.value}]", nil,false,id: "checkbox_#{v.id}" %>'); 
        $(".checkbox_field:last").append('<%= label_tag("checkbox_#{v.id}", "#{v.value}") %>');
      <% end %>
  <% end %>
  
<%- elsif params[:type] == "2" %>
  $(".oil_fields").empty();
  $(".oil_fields").append(
    '<%= j (select_tag "search_type[vendor_id]", options_for_select((Category.find(params[:category_id]).vendors.map { |v| [v.name, v.id] }).insert(0, ["Производитель", ""])), {id: "oil_vendor"}) %>'
    );
  <%- @fields.where(search_type: "select").each do |field| %>
      <%- values = field.categories_fields_values %>

      $(".oil_fields").append(
        '<%= j (select_tag "search_size[field_#{field.id}]", options_for_select((values.order("value asc").map { |c| ["#{field.field_name}: #{c.value}", c.value] }).insert(0, ["#{field.field_name}", ""])), {id: "field_#{field.id}"}) %>'
        );
  <% end %>
  $(".tire_checkbox, .oil_checkbox").empty();
  <%- @fields.where(search_type: "checkbox").each do |field| %>
      <%- values = field.categories_fields_values %>
      <% values.each do |v| %>
        $(".oil_checkbox").append('<%= label_tag("checkbox_#{v.id}", "#{v.value}") %>');
        $(".oil_checkbox").append('<%= check_box_tag "search_season[check_#{v.value}]", nil,false, id: "checkbox_#{v.id}" %>'); 
      <% end %>
  <% end %>
<%- end %>
