$(".products").append("<%= escape_javascript(render(@products)) %>")
<% if @products.next_page %>
  $('.pagination').replaceWith('<%= j paginate(@products) %>');
  // $('.filter').removeClass('filter-absolute');
  // $('.filter').addClass('filter-fixed');
  n = $(".nav-box").offset().top - $('.filter').offset().top
  // f = $('.filter').offset().top
  $('.filter-absolute').animate({top: $(".nav-box").offset().top + n}, 200, function(){
    $('.filter').removeClass('filter-absolute');
    $('.filter').addClass('filter-fixed');
    $('.filter-fixed').css('top', 83);
  });

<% else %>
  $('.pagination').remove();
  $('#more').remove();
<% end %>