= render "shared/featured_products"
.products
  .title
    h1 Каталог
  -if @products.any?
    .sort
      ul
        p Сортировка
        li = sortable "name", "По названию"
        li = sortable "cost", "По цене"
    = render @products
  -else
    =render "products/products_empty" 
#next_page
  = paginate @products
#more
  p Еще
