-provide(:title, "#{@product.name} - #{@product.vendor.name} -")
-provide(:description, "#{@product.meta_description}")
-provide(:keywords, "#{@product.meta_keywords}")
.product_show
  .product_info
    .product_block
      .p_icons
        - if @product.featured > 50
          .pop
        - if @product.discount > 0
          .dis
        - if @bookmark.products.include? @product
          .bmarks
      = image_tag @product.image.url :show
      = link_to "Просмотр", @product, class: "show" ,remote: true
    .product_block
      .block_info
        h2 = @product.vendor.name
        h2 = @product.name
        .param
          - @product.product_fields_values.each do |field|
            p = "#{field.categories_field.field_name}: #{field.value}" if field.categories_field.field_name != "Описание"
          - if @product.discount > 0
            p.gray_price = "Цена: <strong class='curr'>#{currency_checked @product}</strong>".html_safe 
          -else
            p = "Цена: <strong class='curr'>#{currency_checked @product}</strong>".html_safe 
      .product_buy
        = button_to "Добавить в закладки", bookmark_items_path(bookmark_item: {product_id: @product.id}), class: "bookmarks",remote: true
        / == link_to "Добавить в закладки", bookmark_items_path
        / =binding.pry
        - if @product.cost > 0
          =form_tag order_items_path, class: "add_pr" ,remote: true do
            = text_field_tag "order_item[quantity]", "1"
            span шт.
            = hidden_field_tag "order_item[product_id]", @product.id
            = submit_tag "Купить"
            / = button_tag "Button Text", :class => "btn", :type => "submit"
    .product_block
      - if @product.discount > 0
        .discount_block
          p  На данный товар действует специальная скидка!
          p == "Цена: <strong>#{discount @product}</strong>"
  - unless @product.get_value_by_field('Описание').nil?
    .product_description
      .product_block
        h3 ="Основные особенности #{type_helper @product.part}"
      .description
        = @product.get_value_by_field('Описание').value.html_safe
  - unless @product.video.blank?
    .product_video
      .product_block
        h3 Видео
      .video
        = @product.video.html_safe
