$('body').append("<div class='bg' id='bg'></div>");
$('body').append("<div class='modal' id='modal' ></div>");
$('.modal').addClass( "image_show" );
$('.image_show').append("<%= j image_tag @product.image.url(:show) %>");
$('.image_show').append("<div class='close_button'>&#10005;</div>");
$(".close_button, .bg").click(function(){
  $('.modal').remove();
  $('.bg').remove();
})
$(document).keyup(function(e) {

  if (e.keyCode == 27) { 
    $('.bg').remove()
    $("#modal").remove()
  }   // esc
});