/ -binding.pry
.title
  h1 Подбор шин по марке автомобиля
.size_links
  -if @default.present? or @replacement.present? or @tuning.present?
    -if @default and @default.any?  
      .default
        h2 Заводская комлектация:
        ul
        -@default.each do |d|
          li = link_to d, root_path(controller: "products", action: "index", model_search: {size: d})
    -if @replacement and @replacement.any?  
      .replacement
        h2 Варианты замены:
        ul
        -@replacement.each do |d|
          li = link_to d, root_path(controller: "products", action: "index", model_search: {size: d})
    -if @tuning and @tuning.any?
      .tuning
        h2 Тюнинг:
        ul
        -@tuning.each do |d|
          li = link_to d, root_path(controller: "products", action: "index", model_search: {size: d})
  -else
    p НИЧЕГО НЕ НАЙДЕНО
