if ($(".products").length > 0){
  $(".products .product").remove()
  $("#next_page").remove()
  $("#more").remove()
  if ($(".products .size_links").length > 0){
    $(".products .size_links").html("<div class='load'></div>")
  }else{
    $(".products").html("<div class='load'></div>")
  }

}else{
  $(".container").html("<div class='products'></div>");
  $(".products").html("<div class='load'></div>")
  $(".products").css("min-height", $(".filter").height()+30)
  $('.menu a').removeClass('active')
  window.history.pushState(null, null, "<%= root_path %>");
}
setTimeout(function() {
  $(".products").html("<%= j render 'car_models/size_links'%>")
}, 300)