$gray: #4d4d4d;
$blue: #0075ff;

@mixin inline_block{
  display: inline-block;
  vertical-align: top;
}

#contacts{
  #parag{margin-bottom:50px; p{margin-bottom: 4px;}}
  .block_item{
    background: asset_url("title_border.png") repeat-x 0 bottom;
    margin-bottom: 25px;
    padding-bottom: 25px;

    .block_title{
      width: 190px;
      @include inline_block;
      text-align: right;

      .title_item{
        font-size: 24px;
        color: $blue;
      }

      .description_item{
        margin-top: 30px;
        line-height: 140%;
      }
    }

    .block_content{
      width: 570px;
      @include inline_block;
      margin-left: 20px;
      padding-right: 55px;
      line-height: 140%;

      p{
        margin-bottom: 20px;

        &.tel{
          margin-left: 25px;
          margin-bottom: 5px;

          &.last{
            margin-bottom: 20px;
          }
        }

        &.time_work{
          margin-left: 25px;
          margin-bottom: 10px;
        }

        &.attention{
          margin-bottom: 3px;
        }

        &.note{
          margin-left: 25px;
        }

        a{
          margin-left: 5px;
          color: $blue;
          text-decoration: underline;
        }

        &.note{
          margin-bottom: 0px;
        }
      }

      span.attention{
        background: #4e4d4d;
        width: 19px;
        height: 19px;
        @include inline_block;
        margin-right: 6px;
        text-align: center;
        color: #fff;
        line-height: 120%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }

      .map_block{
        width: 100%;
        height: 340px;
      }
    }

    &:last-of-type{
      background: none;
    }
  }
}