@font-face {
 font: {
     family: 'Roboto-Medium';
     weight: 'normal';
     style: 'normal';
    }
 src: asset-url('Roboto-Medium.ttf', font) format('truetype');
}
@font-face {
 font: {
     family: 'Roboto-Light';
     weight: 'normal';
     style: 'normal';
    }
 src: asset-url('Roboto-Light.ttf', font) format('truetype');
}
@font-face {
 font: {
     family: 'Roboto-Regular';
     weight: 'normal';
     style: 'normal';
    }
 src: asset-url('Roboto-Regular.ttf', font) format('truetype');
}
@font-face {
 font: {
     family: 'Roboto-Bold';
     weight: 'normal';
     style: 'normal';
    }
 src: asset-url('Roboto-Bold.ttf', font) format('truetype');
}
@font-face {
 font: {
     family: 'PFDinTextCondPro-Thin';
     weight: 'normal';
     style: 'normal';
    }
 src: asset-url('PFDinTextCondPro-Thin.ttf', font) format('truetype');
}