$gray: #4d4d4d;
$blue: #0075ff;

@mixin inline_block{
  display: inline-block;
  vertical-align: top;
}

@mixin border_radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


#news_items{
  .information_block{
    width: 190px;
    @include inline_block;
    text-align: right;
    font-size: 24px;
    color: $blue;
  }

  .news_items_block{
    width: 570px;
    @include inline_block;
    margin-left: 25px;

    .news_item{
      width: 625px;
      margin-bottom: 20px;

      .photo_block{
        width: 145px;
        height: 145px;
        @include inline_block;

        img{
          width: 145px;
          height: 145px;
          @include border_radius(6px);
        }
      }

      .content_block{
        width: 440px;
        @include inline_block;
        margin-left: 40px;

        .date{
          margin-bottom: 15px;
          font-size: 12px;
          color: #a1a1a1;
        }

        h2{
          margin-bottom: 15px;
          color: $blue;
          font-size: 18px;
        }

        .text{
          line-height: 140%;
        }
      }
    }
  }
}


#news_item{
  .title_block{
    width: 190px;
    @include inline_block;
    text-align: right;
    font-size: 24px;
    color: $blue;

    h2{
      margin-bottom: 15px;
      color: $blue;
      font-size: 24px;
    }

    .date{
      font-size: 12px;
      color: #a1a1a1;
    }
  }

  .content_block{
    width: 625px;
    @include inline_block;
    margin-left: 25px;
    margin-bottom: 40px;
    .cover{
      img{
        width: 100%;
        @include border_radius(6px);
      }
    }
    img{
      max-width: 625px;
    }

    .text{
      margin-top: 10px;
      line-height: 140%;

      p{
        margin-bottom: 10px;
      }
    }
  }
}