#slides, #slide{
  // width: 1280px;
  margin: 0 auto;
  // height: 327px;
}
#slides {
  display:none;
  position: relative;
  min-height: 325px;
  min-width: 1170px;
  img{
    // max-height: 325px;
    // height: 325px;
    display: block;
    width: 100%;
    max-width: none;
  }
  .slide-box{
    overflow: visible;
    position: relative;
    width: 1170px;
    margin: 0 auto;
  }
}
.slidesjs-previous{
  background: asset_url("prev.png");
  height: 60px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 126px;
  left: 30px;
  z-index: 10;
}
.slidesjs-next{
  background: asset_url("next.png");
  height: 60px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 126px;
  right: 30px;
  z-index: 100;
}
.slidesjs-pagination{
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 10;
  margin: 0px;
  li{
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    a{
      background: asset_url("pagination.png");
      background-position: 0 0;
      display: block;
      width: 19px;
      height: 0px;
      padding-top: 20px;
      float: left;
      overflow: hidden
    }

  }
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -18px
}
.slidesjs-pagination li a:hover {
  background-position: 0 -36px
}

.link, .link-slide{
  position: absolute;
  top: 310px;
  right: 315px;
  font-weight: 600;
  background: blue;
  padding: 9px 25px;
  border-radius: 3px;
  border-bottom: 2px solid blue;
  text-decoration: none;
  color: white;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.link-slide{
  top: 224px;
  right: 232px;
}
.slide{
  overflow: hidden;
}
