$gray: #4d4d4d;
$blue: #0075ff;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Roboto-Medium, Geneva, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: $gray;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  min-height: 100%;
  position: relative;
  padding-bottom: 170px;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{background: #ffffff;}
.errors{
  margin-bottom: 10px;
  font-size: 14px;
  li{
    color: red;
  }
}
.close_button{
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 24px;
  color: #dadada;
  cursor: pointer;
  text-shadow: 0px 0px 0px #000;
}
.pink{
  color: #ff003c;
  a{
    color: #ff003c;
  }
}
/*=========================================Header=========================================*/
.header{
  padding-top: 40px;
  height: 134px;
  min-width: 1128px;
  width: 1128px;
  margin: 0 auto;
  #logo{
    // text-indent: -9999px;
    display: inline-block;
    height: 105px;
    width: 310px;
    background: asset_url("logo_new.svg") no-repeat;
    background-position: center center;
    margin-left: 6px;
    border-right: 1px dashed black;
    margin-right: 25px;
    //padding-left: 147px;
    //padding-top: 26px;
    font-family: PFDinTextCondPro-Thin;
    font-size: 46px;
    //font-size: 26px;
  }
  .info{
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    font-size: 14px;
    line-height: 18px;
    a{
      color: #0075ff;;
    }
  }
  .header_cart{
    width: 360px;
    vertical-align: top;
    text-align: right;
    float: right;
    height: 70px;
    padding-top: 30px;
    a{
      font-size: 13px;
      text-decoration: none;

    }
    .currency{
      position: relative;
      .bm{
        margin-top: 3px;
        margin-bottom: 5px;
      }
      li{
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        padding-bottom: 3px;
        &:first-child{
          border-right: 1px solid $gray;
          padding-right: 10px;
        }
        a{
          font-family: Roboto-Light;
          color: $blue;
        }
      }
      p{
        font-size: 13px;
        margin-top: 4px;
        margin-bottom: 10px;
        position: relative;
        // margin-right: 17px;
        // &:after{
        //   content: asset_url("close_button.png");
        //   top: 1px;
        //   right: -18px;
        //   position: absolute;
        // }
        // &:last-of-type{
        //   font-size: 18px;
        //   display: inline-block;
        //   &:before{
        //     content: asset_url("cart.png");
        //     top: 1px;
        //     left: -26px;
        //     position: absolute;
        //   }
        // }
      }
      a{
        font-size: 13px;
        margin-top: 4px;
        margin-bottom: 10px;
        position: relative;
        // margin-right: 17px;
        strong{
          font-weight: bold;
        }
      }
      .cart_count:before{
        content: asset_url("cart.png");
        top: 3px;
        left: -26px;
        position: absolute;
      }
      .cart_count{
        font-size: 16px;
      }
      #clear_cart, #clear_bookmark{
        // position: absolute;
        // bottom: -10px;
        // right: -17px;
        background-image: asset_url("close_button.png");
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 0px;
        margin-left: 5px
      }
    }
  }
}
#message{
  position: fixed;
  top: 0px;
  right: 50%;
  background: #bdffa7;
  padding: 15px 30px;
  border-radius: 0px 0px 5px 5px;
  display: none;
  z-index: 15;
  margin-right: -550px;
  // margin-top: -1000px;
}
/*=========================================Footer=========================================*/
.footer{
  min-width: 1280px;
  height: 147px;
  background: asset_url("footer_bg.png");
  padding-top: 23px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  .flogo, .finfo, .fmenu, .ficon{
    display: inline-block;
    vertical-align: top;
  }
  .flogo{
    // background: url(/assets/logo.png) no-repeat;
    position: relative;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 100%;
      //display: inline-block;
    }
    a:last-of-type{
      font-family: PFDinTextCondPro-Thin;
      //display: inline-block;
      //margin-top: 18px;
      //margin-left: 8px;
      max-width: 110px;
      vertical-align: top;
      font-size: 32px;

    }
    .cop{
      font-size: 11px;
      display: block;
      //position: absolute;
      //top: 53px;
      //left: 107px;
    }
  }
  .finfo{
    width: 216px;
    p{
      font-size: 12px;
      font-family: Roboto-Bold;
      margin-bottom: 7px;
      a{
        font-family: Roboto-Bold;
        color: $blue;
        text-decoration: underline;
      }
    }
  }
  .fmenu{
    width: 288px;
    ul{
      display: inline-block;
      font-size: 12px;
      vertical-align: top;
      li{
        margin-bottom: 6px;
        a{
          font-family: Roboto-Bold;
        }
      }
      &:first-of-type{
        margin-right: 90px;
      }
    }
  }
  .ficon{
    width: 336px;
    p{
      display: inline-block;
      font-family: Roboto-Bold;
      font-size: 12px;
      height: 28px;
      padding-left:25px;
      margin-bottom: 10px;
    }
    .bmarks{
      background: asset_url("bookmark.png") no-repeat;
      width: 96px;
      margin-right: 72px;
    }
    .pop{
      background: asset_url("popular.png") no-repeat;
      width: 96px;
    }
    .dis{
      background: asset_url("discount.png") no-repeat;
      width: 112px;
    }
  }
}

/*=========================================Menu=========================================*/
.nav-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 14;
}
.nav-box{
  min-width: 1280px;
  height: 50px;
  background: #feed01;
  .nav{
    width: 1128px;
    margin: 0 auto;
    .menu{
        display: inline-block;
      ul{
        font-size: 16px;
        li{
            display: inline-block;
          a{
            display: block;
            padding: 17px 13px;
            font-family: Roboto-Bold;
            color: $gray;
            &:hover{
              height: 14px;
              background: #ff9c00;
              color: white;
              border-bottom: 2px solid #ffc770;
            }
          }
            .active{
              height: 14px;
              background: #ff9c00;
              color: white;
              border-bottom: 2px solid #ffc770;
            }
        }
      }
      .link--blue{
        color: #ffffff;
        background-color: #0375ff;
      }
    }
    .social{
      float: right;
      padding-top: 13px;
      ul{
        li{
          display: inline-block;
          margin-right: 10px;
          a{
            display: block;
            img{
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}
.title{
  margin: 0 auto;
  height: 40px;
  z-index: 1;
  position: relative;
  background: asset_url("title_border.png") repeat-x;
  background-position: 0px 8px;
  h1{
    color: $blue;
  }
}

h1{
  font-size: 22px;
  background: white;
  margin-left: 63px;
  padding: 0 26px;
  display: inline-block;
  text-align: center;
}

.wrapper{
  width: 1128px;
  margin: 0 auto;
  margin-top: 22px;
  display: flex;
  .filter{
    width: 240px;
    top: 100px;
    position: absolute;
    float: left;
    display: block;
    top: 0px;
    padding-bottom: 20px;
  }
  // .filter-fixed{
  //   position: fixed;
  //   top: 83px;
  //   background: white;
  // }
  // .filter-absolute{
  //   position: absolute;
  //   background: white;
  // }

  .leftside {
    position: relative;
    margin-right: 46px;
    width: 240px;
    min-height: 650px;
  }

  .rightside {
    width: 842px;
    min-height: 100%;
  }
}
/*=========================================Product_slider=========================================*/

.product_slider{
  margin-bottom: 24px;
  .slider_box{
    height: 210px;
    width: 710px;
    padding: 0 66px;
    position: relative;
    overflow: visible;
    .product_slide{
      position: relative;
      width: 124px;
      height: 210px;
      display: inline-block;
      vertical-align: top;
      margin: 0 9px;
      text-align: center;
      img{
        margin-top: 3px;
        margin-bottom: 14px;
        &:hover + a{
          display: block;
        }
      }
      img + a:hover,.show_prev + a:hover{
        display: block;
      }
      .show_prev:hover + a{
        display: block;
      }
      .preview{
        position: absolute;
        top: 80px;
        left: 0px;
        background: black;
        color: white;
        padding: 10px 15px 10px 40px;
        display: none;
        opacity: 0.7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 800;
        &:before{
          content: asset_url("search_icon.png");
          top: 3px;
          left: 9px;
          position: absolute;
        }
      }
      p:first-of-type{
        margin-bottom: 4px;
      }

      .title_product{
        height: 34px;
        overflow: hidden;
        margin-bottom: 2px;
        h2{
          position: relative;
        }
        h3{
          font-weight: 800;
          font-size: 12px;
        }
        .grad{
          display: block;
          width: 33px;
          /* background: red; */
          position: absolute;
          height: 100%;
          top: 0px;
          right: -8px;
          background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(3%,rgba(255,255,255,0)), color-stop(69%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* IE10+ */
          background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
      }
      p{
        font-size: 12px;
      }
      a{
        font-weight: bold;
        font-size: 14px;
      }
    }
    .slidesjs-previous{
      background: asset_url("prev2.png") no-repeat;
      height: 60px;
      width: 40px;
      display: inline-block;
      position: absolute;
      top: 76px;
      left: 24px;
      z-index: 10;
    }
    .slidesjs-next{
      background: asset_url("next2.png") no-repeat;
      height: 60px;
      width: 40px;
      display: inline-block;
      position: absolute;
      top: 76px;
      right: 8px;
      z-index: 10;
    }
  }
}
/*=========================================Product_index=========================================*/
.products{
  min-height: 300px;
  .product{
    width: 275px;
    margin-left: 5px;
    margin-bottom: 25px;
    height: 140px;
    vertical-align: top;
    display: inline-block;
    .image{
      height: 140px;
      float: left;
      position: relative;
      img{height: 130px; margin: 10px 0px;}
      .show{
        position: absolute;
        top: 80px;
        left: 0px;
        background: black;
        color: white;
        padding: 10px 15px 10px 40px;
        display: none;
        opacity: 0.7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 800;
        &:before{
          content: asset_url("search_icon.png");
          top: 3px;
          left: 9px;
          position: absolute;
        }
      }
      &:hover a{
        display: block;
      }
    }
    .short_description{
      margin-left: 120px;
      font-size: 13px;
      padding: 0 0px 0 18px;
        font-size: 12px;
      .param{
        margin-top: 0px;
      }
      h2{
        font-size: 14px;
        margin-bottom: 3px;
        font-weight: bold;
        position: relative;
        a{
          color: $blue;
        }
        .grad{
          display: block;
          width: 33px;
          /* background: red; */
          position: absolute;
          height: 100%;
          top: 0px;
          right: -8px;
          background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(3%,rgba(255,255,255,0)), color-stop(69%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* IE10+ */
          background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
        .show_title{
          display: none;
          position: absolute;
        }
        &:hover > .show_title{
          display: block;
          padding-left: 5px 10px;
          top: 10px;
          left: 10px;
          width: 1000px;
          z-index: 1;
          div{
            padding: 5px 10px;
            background:red;
            display: inline-block;
          }
        }
      }
      p{
        line-height: 16px;
      }

    }
  }
}
.tooltip {
  display:none;
  position:absolute;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size:12px Arial;
  opacity: 1;
  z-index: 10;
}
#next_page{
  height: 40px;
}

/*=========================================breadcrumbs=========================================*/
.breadcrumbs{
  // height: 42px;
}

.banner{
  margin: 26px 0 24px;
  img{
    margin: 26px 0 24px;
  }
}
/*=========================================product_show=========================================*/
.product_show{
  .product_block{
    width: 270px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .show{
      position: absolute;
      left: 50%;
      bottom: 40px;
      background: black;
      color: white;
      padding: 10px 15px 10px 40px;
      display: none;
      opacity: 0.7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 800;
      margin-left: -60px;
      &:before{
        content: asset_url("search_icon.png");
        top: 3px;
        left: 9px;
        position: absolute;
      }
    }
    .p_icons{
      width: 252px;
    }
    h3{
      padding: 0px 130px 0px 67px;
      width: 70px;
      font-size: 24px;
      color: $blue;
    }
    .block_info{
      height: 150px;
      margin-top: 36px;
      .param{
        margin-top: 30px

      }
      h2{
        // margin-bottom: 28px;
        color: $blue;
      }
      p{
        font-size: 14px;
        line-height: 17px;
      }
      .gray_price{
        color: #a3a3a3;
      }
    }
    .product_buy{
      height: 70px;
      a{
      font-size: 12px;
      text-decoration: underline;
      position: relative;
      margin-left: 20px;

      }
      em{
        padding-top: 2px;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      .button_to{
        display: inline-block;
        vertical-align: top;
        &:hover{

        }

        & > div{
          position: relative;
          &:before{
            content: "★";
            position: absolute;
            left: -20px;
            top: 2px;
          }
        }

        &:hover{
          & > div{
            &:before{
              color: #e7d801;
            }
          }
          .bookmarks{
            color: $blue;
            border-bottom: 1px solid $blue;
          }
        }
      }


      .bookmarks{
        cursor: pointer;
        border: none;
        border-bottom: 1px solid black;
        background: white;
        padding: 0;
        font-size: 12px;
        position: relative;
        outline: none;
        &:after{
          content: '★';
          padding-top: 2px;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
        }
      }
      .add_pr{
        // margin-top: 20px;
        input[type="text"]{
          text-align: center;
          width: 45px;
          height: 22px;
          border-radius: 2px;
          border: 1px solid #a1a1a1;
        }
        input[type="submit"], .btn{
          height: 30px;
          // background: #0075ff;
          background: asset_url("cart_white.png") no-repeat scroll 7px 7px #0075ff;;
          border: none;
          color: white;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding: 0 20px 0 30px;
          margin-top: 15px;
          position: relative;
          outline: none;
          cursor: pointer;
          // &:before{
          //   content: "sda";
          //   position:absolute;
          //   top: 10px;
          //   left: 10px;

          // }
          &:active{
            outline: none;
            background: asset_url("button_cart_active.png");
          }
        }
        span{
          margin-left: 8px;
            margin-right: 20px;
            font-size: 14px;
        }
      }
    }
    .discount_block{
      margin-top: 80px;
      p{
       color: #ff003c;
       margin-bottom: 9px;

       strong{
        font-size: 28px;
       }
      }
    }
    img{
      width: 260px;
    }
    img:hover + .show{
      display: block;
    }
    .show:hover{
      display: block;
    }
    h2{
      // margin-top: 35px;
      // margin-bottom: 30px;
    }
  }
  .product_description{
    background: asset_url("title_border.png") repeat-x;
    background-position: 0px 8px;
    margin-bottom: 20px;
    padding-top: 36px;
    .description{
      width: 550px;
      display: inline-block;
      line-height: 24px;
      p,h1,h2,h3,h4,h5{
        margin-bottom: 10px;
      }
    }
  }
  .product_video{
    background: asset_url("title_border.png") repeat-x;
    background-position: 0px 8px;
    margin-bottom: 20px;
    padding-top: 36px;
    .video{
      width: 550px;
      display: inline-block;
      iframe{
        width: 550px;
        height: 410px;
      }
    }
  }
  .product_info{
    margin-bottom: 20px;
  }
}
/*=========================================search=========================================*/
.filter{

  input[type=submit]{
    height: 30px;
    background: $blue;
    border: none;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: right;
    padding: 0 20px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    &:active{
      background: asset_url("button_active.png");
    }
  }
  .search{
    // overflow: hidden;
    overflow: hidden;
    padding-top: 2px;
    .search_fields{
      width: 960px;
      .tire, .oil, .tire_type, .models, .battery, .rim{
        width: 240px;
        display: inline-block;
        vertical-align: top;
      }
      .tire{
        overflow: hidden;
        .fields{
          width: 480px;
        }
      }
      .oil, .battery, .rim{
        margin-top: 56px;
      }
      .models{
        input[type="button"]{
          // height: 30px;
          background: #0075ff;
          border: none;
          color: white;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          padding: 5px 16px;
          margin-top: 15px;
          position: relative;
          font-size: 13px;
          float: right;
          cursor: pointer;
          outline: none;
          // font-weight: bold;
          &:active{
            background: asset_url("button_active.png");
          }
        }
        input[disabled='disabled']{
          color: #9FC8F8;;
          cursor: default;
        }
      }
    }
    select{
      width: 100%;
      height: 30px;
      margin-bottom: 12px;
    }
    .search_type{
      width: 235px;
      margin-left: 3px;
      position: relative;
      input[type=radio]{
        display:inline-block;
        margin:10px;
        position: absolute;
        top: 0px;
        left: 10px;
        margin: 0px;
        z-index: 0;
        opacity: 0;
      }
      input[type=radio] + label {
        display:inline-block;
        width: 36px;
        height: 20px;
        margin:-2px;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        vertical-align: middle;
        cursor: pointer;
        // background-color: #f5f5f5;
        // background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        // background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        // background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        // background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        // background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        // background-repeat: repeat-x;
        // border: 1px solid #ccc;
        // border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        // border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        // border-bottom-color: #b3b3b3;
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        // -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        // -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        // box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        border-right: 1px solid #AEAEAE;
        position: relative;
        z-index: 1;
      }
      .f_tr{
        background: asset_url("tyre.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        &:hover, &.check{
          background-image: asset_url("tyre_active.png");
        }
      }
      .f_oil{
        background: asset_url("oil.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        &:hover, &.check{
          background-image: asset_url("oil_active.png");
        }
      }
      .f_acc{
        background: asset_url("battery.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        &:hover, &.check{
          background-image: asset_url("battery_active.png");
        }
      }
      .f_rm{
        background: asset_url("rims.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        border-right: 0px !important;
        &:hover, &.check{
          background-image: asset_url("rims_active.png");
        }
      }
      // input[type=radio]:checked + label {
      //   background-image: none;
      //   outline: 0;
      //   -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      //   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      //   box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      //   background-color:#e0e0e0;
      //   font-weight: 800;
      // }
      // label:first-of-type{
      //   -webkit-border-top-left-radius: 3px;
      //   -webkit-border-bottom-left-radius: 3px;
      //   -moz-border-radius-topleft: 3px;
      //   -moz-border-radius-bottomleft: 3px;
      //   border-top-left-radius: 3px;
      //   border-bottom-left-radius: 3px;
      //   &:before{
      //     content: asset_url("tire_search.png");
      //     top: 4px;
      //     left: 22px;
      //     position: absolute;
      //   }
      // }
      label:nth-child(3){
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:before{
          content: asset_url("oil_search.png");
          top: 5px;
          left: 6px;
          position: absolute;
        }
      }
      label:nth-child(3){
        background: red !important;
        &:before{
          content: asset_url("oil_search.png");
          top: 5px;
          left: 6px;
          position: absolute;
        }
      }
    }
    .tire_or_car{
      margin-top: 20px;
      margin-bottom: 20px;
      height: 16px;
      margin-left: 2px;
      input[type=radio]{
        margin: 0px;
        margin-right: 3px;
        vertical-align: top;
      }

      label{
        vertical-align: top;
        font-size: 12px;
        &:first-of-type{
          margin-right: 8px
        }
      }
    }
  }
  .checkbox_field{
    display: block;
    margin-bottom: 4px;
    // margin-right: 42px;
    input[type="checkbox"]{
      margin-right: 5px;
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
  .payment-system {
    max-width: 240px;
    margin-top: 25px;
  }
  .payment-system__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 6px 0 17px;
    background: asset_url("border-img.png") repeat-x 0 33%;
  }
  .payment-system__title h5 {
    color: #007cff;
    margin: 0 30px;
    padding: 0 15px;
    background: #ffffff;
  }
}
/*=========================================modal=========================================*/

.modal{
  border-radius: 0px;
  border: 0px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #f7f7f7;
  z-index: 10;

  .close{
    position: absolute;
    top: -4px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
    color: black;
  }
}
.modal_bg{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
}
.image_show{
  height: 650px;
  width: 650px;
  margin-top: -325px;
  margin-left: -325px;
  position: fixed;
  background-color: white;
  min-height: 30px;
  z-index: 15;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 1);
  box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 1);
  img{
    // width: 650px;
    height: 650px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
/*=========================================calculator=========================================*/

.old_size, .new_size{
  width: 268px;
  /* height: 135px; */
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  select{
    width: 100%;
    height: 30px;
    margin-bottom: 12px;
  }
  h3{
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
  }
}
.compare_table, .speed_table, .rim_size_table, .inch_size_table{
  width: 566px;
  th{
    font-weight: 800;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px dashed #a1a1a1;
    padding: 0 27px;
    width: 20px;
    &:first-of-type{
      width: 216px;
      padding: 0;
      padding-left: 10px;
    }
    &:last-of-type{
      padding-right: 0px;
    }
  }
  tr{
    height: 38px;
    &:nth-child(2n){
      border-bottom: 1px dashed #a1a1a1;
      border-top: 1px dashed #a1a1a1;
      background: #f0f0f0;;
    }
    &:last-of-type{
      border-bottom: 1px dashed #a1a1a1;

    }
    td{
      font-size: 12px;
      vertical-align: middle;
      text-align: center;
      &:first-of-type{
        padding-left: 10px;
        text-align: left;
      }
      &:last-of-type{
        padding-left: 27px;
      }
    }
  }
}
.speed{
  margin-top: 20px;
  h3{
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;

  }
  .speed_table{
    td:first-of-type{
      width: 226px;
      padding-right: 0px;
    }
    td{
      width: 84px;
    }
  }
}
.jq_slider, .ui-slider, .ui-slider-horizontal, .ui-widget, .ui-widget-content, .ui-corner-all{
  outline: 0;
}
.jq_slider{
  height: 7px;
  width: 564px;
  span{
    position: absolute;
    top: -20px;
    width: 74px;
    text-align: center;
    left: -30px;
    font-size: 14px;
  }
  .ui-slider-handle{
    height: 20px;
    width: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid #858585;
    top: - 0.4em;
    -webkit-box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.84);
    box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.84);
  }
}
.rim_size{
  margin-top: 20px;
  margin-bottom: 45px;
  h3{
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
  }
  form{
    display: inline-block;
    width: 194px;
    vertical-align: top;
    select{
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }
  }
  .rim_size_table{
    display: inline-block;
    width: 230px;
    width: 345px;
    margin-left: 26px;
    thead{
      tr{
        height: 32px;
      }
    }
    th{
      vertical-align: top;
    }
    td:last-of-type{
      width: 90px;
    }
  }
}
.inch_size{
  margin-top: 20px;
  margin-bottom: 45px;
  h3{
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
  }
  form{
    display: inline-block;
    width: 194px;
    vertical-align: top;
    select{
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }
  }
  .inch_size_table{
    display: inline-block;
    margin-left: 26px;
    width: 401px;;
    thead{
      tr{
        height: 32px;
        font-weight: bold;
        text-align: left;
      }
    }
    th{
      vertical-align: top;
    }
    // td:last-of-type{
    //   width: 90px;
    // }
    tbody{
      td{
        width: 50px;
        padding-left: 0px;
        &:first-of-type{
          width: 265px;
          padding-left: 10px;
        }
      }
    }
  }
}
/*=======================Order===========================*/
.order{
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 16;
  background-color: white;
  width: 312px;
  margin-left: -156px;
  padding: 35px 48px;
  h1{
    margin-left: 29px;
  }
  form{
    input[type="text"]{
      width: 292px;
      height: 28px;
      padding: 0 10px;
      border-radius: 3px;
      border: 1px solid #a1a1a1;
      margin-bottom: 12px;
    }
    input[type="submit"]{
      height: 30px;
      background: #0075ff;
      border: none;
      color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 0 20px;
      float: right;
      cursor: progress;
      &:active{
        background: asset_url("button_active.png");
        outline: none;
      }
    }
  }
}
/*=======================CART===========================*/
.bg{
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: fixed;
  top:0;
  left: 0;
  z-index: 14;
}
#bookmark{
  .item_info{
    margin-top: 15px;
  }
  .item_count{
    height: 24px;
    padding-top: 0px;
    // border-bottom: 1px dashed #a1a1a1;
    border-top: 0px
  }
}
#cart, #bookmark{
  width: 744px;
  // padding: 0 46px;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -326px;
  background-color: white;
  min-height: 30px;
  display: none;
  z-index: 15;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 1);
  box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 1);
  .title{
    width: 650px;
    margin-top: 36px;
  }
  .items{
    width: 666px;
    margin: 0px auto 0;
    max-height: 300px;
  }
  .order_item{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 20px;
    .img{
      vertical-align: top;
      display: inline-block;
      img{
        width: 118px;
        height: 118px;
        display: block;
      }
    }
    .item_info{
      vertical-align: top;
      display: inline-block;
      width: 532px;
      .details, .cost{vertical-align: top;display: inline-block;height: 72px; line-height: 17px;}
      .details{
        width: 332px;
        h2{
          color: $blue;
          font-weight: 800;
        }
        p{
          font-size: 14px;
        }
      }
      .cost{
        width: 200px;
        p{
          font-size: 13px;
        }
      }
      .item_count{
        height: 38px;
        border-top: 1px dashed #a1a1a1;
        padding-top: 8px;
        input[type="text"]{
          text-align: center;
          width: 45px;
          height: 22px;
          border-radius: 2px;
          border: 1px solid #a1a1a1;
          margin-left: 24px;
          margin-right: 11px;
        }
        input[type="submit"]{
          background: none;
          border: none;
          border-bottom: 1px solid #585858;
          color: #585858;
          padding: 0;
        }
      }
    }
    .clear_cart{
      position: absolute;
      top: 0px;
      right: 10px;
      background-image: asset_url("close_button.png");
      width: 15px;
      height: 15px;
    }
  }
  .order_item:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .buy_details{
    padding: 23px 55px;
    height: 32px;
    background: #e9e9e9;
    position: relative;
    .total{
      font-size: 18px;
    }
    .discount{
      font-size: 14px;
      margin-top: 4px;
    }
    b{
      font-weight: 800;
    }
    a{
      height: 18px;
      background: #0075ff;
      border: none;
      color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      padding: 6px 26px;
      position: absolute;
      top: 20px;
      right: 64px;
    }
    a:active{
      background: asset_url("button_active.png");
    }
    .delivery_warning{
      margin-top: 4px;
      font-size: 11px;
    }
  }
}

.p_icons{
  width: 124px;
  height: 30px;
  position: absolute;
  z-index: 10;
  .pop, .dis, .bmarks{
    width: 17px;
    height: 27px;
    float: right;
    margin-left: 5px;
  }
  .pop{background-image: asset_url("popular.png");}
  .dis{background-image: asset_url("discount.png");}
  .bmarks{background-image: asset_url("bookmark.png");}
}
.deliver{
  table{
    margin-bottom: 50px;
    tr{
      height: 38px;
      &:last-of-type td{
        border-bottom: 1px dashed #a1a1a1;
      }
      &:nth-child(2n) td{
        // border-bottom: 1px dashed #a1a1a1;
        background: #f0f0f0;;
      }
      &:nth-child(2n) #sep{
        background: none;
        width: 20px;
        border: 0px;
      }
      &:last-of-type{
        // border-bottom: 1px dashed #a1a1a1;
      }
      td{
        border-top: 1px dashed #a1a1a1;
        width: 200px;
        font-size: 12px;
        vertical-align: middle;
        padding-left: 10px;
        // text-align: center;
        &:nth-child(3n) {
          background: none;
          width: 26px;
          border: 0px;
        }
        &:first-of-type{
          padding-left: 10px;
          text-align: left;
        }
        #sep{
          background: none;
          width: 30px;
          border: 0px;
        }
      }
      .cost_table{
        width: 60px;
      }
      #sep{width: 26px;border: none;}
    }
  }
}
#next_page{
  display: none;
}
#more{
  border-top: 1px dashed #a1a1a1;
  p{
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 20px;
    background: #ececec;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: -14px;
    border: 1px solid #a1a1a1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    &:before, &:after{
      content: "";
      width: 29px;
      height: 14px;
      background: white;
      position: absolute;
      top: 6px;
    }
    &:after{
      right: -30px;
    }
    &:before{
      left: -30px;
    }
  }
}
.size_links{
  .default, .replacement, .tuning{
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    h2{
      font-size: 14px;
      margin-bottom: 3px;
      font-weight: bold;
      color: $blue;
    }
    ul{margin-top: 10px;}
    li{
      list-style: none;
      margin-left: 12px;
      margin-bottom: 5px;
    }
  }
}
.breadcrumbs{
  ul{
    margin-top: 4px;
    li{
      display: inline-block;
      font-size: 14px;
      vertical-align: top;
      &:after{
        content: "/";
        margin: 0 5px;
      }
      a{
        color: $blue;
      }
      &:last-of-type{
        &:after{
        content: none;
        }
      }
    }
    .short{
      width: 680px;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.sort{
  height: 30px;
  overflow: visible;
  position: relative;
  margin-bottom: 19px;
  margin-top: -10px;
  ul{
    float: right;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border: 1px solid #AEAEAE;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    z-index: 11;
    p{
      padding-bottom: 4px;
    }
    li{
      display: none;
      padding-top: 5px;
      padding-bottom: 6px;
      border-top: 1px solid #ccc;
    }
    .asc{
      &:before{
        content: "▴";
        margin-right: 6px;
        color: #888686;
      }
    }
    .desc{
      &:before{
        margin-right: 6px;
        color: #888686;
        content: "▾";
      }
    }
    &:hover{
      li{
        display: block;
      }
      p{
        color: #ccc;
        cursor: default;
      }
    }
  }
}
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}
.load{
  background: asset-url("loading.gif") no-repeat;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.no-mobile {
  display: none;
}
/*=======================New_Order_Form===========================*/
.order-block{


  &:after{
    content: "";
    display: table;
    width: 100%;
  }

  .user-order{
    width: 549px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .user-order__col-left{
    display: block;
    float: left;
  }
  .user-order__title{
    color: #007cff;
    font-size: 24px;
    background: url(../img/border-img.png) repeat-x;
    margin-bottom: 19px;
    position: relative;
    z-index: -1;
    background-position: 0px 16px;
  }
  .user-order__title h3{
    font-weight: 300;
    margin: 0 0 0 63px;
    background: #ffffff;
    padding: 0 26px;
    display: inline-block;
  }
  .user-order__info{
    display: flex;
    padding: 14px 24px;
    background-color: #f2f2f2;
    border-radius: 2px;
    margin-bottom: 24px;
    font-size: 14px;
    font-family: Roboto-Regular;
  }
  .user-order__img{
    margin-right: 24px;
  }
  .user-order__text p{
    color: #4d4d4d;
    font-family: Roboto-Regular;
    font-size: 15px;
    line-height: 1.2;
  }
  .user-order__card-or-cash{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }
  .user-order__card-or-cash label{
    font-size: 12px;
    color: #757575;
    vertical-align: top;
    margin-right: 24px;
  }
  .user-order__card-or-cash label:last-child{
    margin-right: 0;
  }
  .user-order__card-or-cash input{
    margin: 0 3px 0 0;
  }
  .user-order__form-item{
    margin-bottom: 24px;
  }
    .form-errors{
      margin: 4px 0;
    }
    .form-errors ul{
      margin: 0;
      padding: 0;
    }
    .form-errors__item{
      margin: 0;
      list-style: none;
      font-size: 12px;
      line-height: 18px;
      color: #f86b6b;
    }
    .form-input-error{
      border: 1px solid #f96b6b;
    }
  .user-order__form-item input{
    width: 100%;
    padding: 6px 9px;
    line-height: 37px;
    height: 37px;
    margin-bottom: 2px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Roboto-Regular;
    border: 1px solid #CCC;
  }
  .user-order__form-item input::-webkit-input-placeholder{
    color: #4d4d4d;
    font-size: 14px;
    font-family: Roboto-Regular;
  }
  .user-order__form-item textarea::-webkit-input-placeholder{
    color: #4d4d4d;
    font-size: 14px;
    font-family: Roboto-Regular;
  }
  .user-order__form-item label{
    color: #b3b3b3;
    font-size: 12px;
  }
  .user-order__select{
    position: relative
  }
    .user-order__select select{
      padding: 6px 9px;
      margin-bottom: 2px;
      margin-top: 0;
      width: 100%;
      color: #4d4d4d;
      font-size: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      font-family: Roboto-Regular;
      font-size: 14px;
    }
    .user-order__select:before{
      content: "";
      padding: 0;
      right: 12px;
      top: 12px;
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 3.5px 0 3.5px;
      border-color: #888888 transparent transparent transparent;
      pointer-events: none;
    }
    .user-order__select:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      top: 0;
      right: 30px;
      background: #c7c7c7;
    }
  .user-order__form-item textarea{
    padding: 9px;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    resize: none;
    font-size: 14px;
    font-family: Roboto-Regular;
    border: 1px solid #CCC;
  }
  .user-order__col-right{
    display: block;
    float: right;
    width: 265px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }

  }
    .total-order{
      width: 100%;
      background-color: #f2f2f2;
      border-radius: 3px;
      padding: 14px 10px;
      color: #4d4d4d;
    }
    .total-order__title{
      font-family: Roboto-Bold;
      font-size: 16px;
      font-weight: 700;
      color: #4d4d4d;
      margin: 0 0 14px;
      padding-bottom: 14px;
      border-bottom: 1px dashed #a1a1a1;
    }
    .total-order__cols{
      display: flex;
      justify-content: space-between;
      padding-bottom: 14px;
    }
    .total-order__inner{
      font-family: Roboto-Regular;
      font-size: 14px;
      border-bottom: 1px dashed #a1a1a1;
      margin-bottom: 14px;
    }
      .total-order__text{
        font-family: Roboto-Regular;
        font-weight: 400;
      }
      .total-order__price{
        font-family: Roboto-Regular;
        font-weight: 400;
      }
      .total-order__price span{
        font-family: Roboto-Bold;
        font-weight: 700;
      }
      .total-order__payment{
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        font-family: Roboto-Regular;
        font-size: 14px;
      }
      .total-order__button{
        text-align: center;
      }
      .total-order__link{
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        color: #ffffff;
        background-color: #007cff;
        border-radius: 2px;
      }
    .user-order__delivery-warning{
      width: 100%;
      margin-top: 20px;
      margin-left: 5px;
      display: none;
      font-family: Roboto-Regular;
      font-size: 15px;
      line-height: 1.2;
    }
  .user-order__col{
    font-size: 14px;
    font-family: Roboto-Regular;
  }
}
@media screen and (min-width: 900px){
  .no-mobile {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}
