<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> <%= @site_settings.site_name %></title>
  <meta name="description" content="<%= yield(:description).empty? ? @site_settings.meta_description : yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords).empty? ? @site_settings.meta_keywords : yield(:keywords) %>">
  <meta name="viewport" content="width=1280">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "../favicon.ico" , :rel => 'icon', :type => "image/x-icon" %>
  <%= favicon_link_tag "../favicon_16X16.png", rel:"apple-touch-icon", type: 'image/png', sizes: "16x16"%>
  <%= favicon_link_tag "../favicon_32X32.png", rel:"apple-touch-icon", type: 'image/png', sizes: "32x32"%>
  <%= favicon_link_tag "../favicon_48X48.png", rel:"apple-touch-icon", type: 'image/png', sizes: "48x48"%>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "application-ie" %>
  <![endif]-->

  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40975408-1', 'autoshina.kg');
  ga('send', 'pageview');

  </script>
 <!--  <link rel="stylesheet" href="https://pro2.eski.mobi/mobile/autoshina-kg/lite/eskimobi.css"> -->
  <!-- <script type="text/javascript" src="https://pro2.eski.mobi/mobile/autoshina-kg/lite/eskimobi.js"></script> -->
</head>
<body>
  <%= render "shared/header" %>
  <%= render "shared/nav" %>
  <%= render "shared/slider" if params[:controller] == "products" && params[:action] == "index"%>
  <div class="wrapper"%>
    <div class="leftside">
     <%= render "shared/filter", params: params %>
    </div>
    <div class="rightside">
      <div class="container"%>
      <%= render "shared/breadcrumbs" unless params[:controller] == "products" && params[:action] == "index"%>
        <%= render "shared/banner" unless params[:controller] == "products" && params[:action] == "index"%>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
  <div id="cart"></div>
  <div id="bookmark"></div>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 982508353;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js
">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/982508353/?value=0&amp;guid=ON&amp;script=0
"/>
</div>
</noscript>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
    (function(){ var widget_id = 'ZcYe6qujDG';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
      s.src = '//code.jivosite.com/script/widget/'+widget_id;
      var ss = document.getElementsByTagName('script')[0];
      ss.parentNode.insertBefore(s, ss);}
      if(d.readyState=='complete'){l();}
      else{if(w.attachEvent){w.attachEvent('onload',l);}
      else{w.addEventListener('load',l,false);}}})();
  </script>
  <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
